@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background: rgb(81,93,83);
	background: linear-gradient(90deg, rgba(81,93,83,1) 0%, rgba(176,115,96,1) 35%, rgba(193,195,207,1) 100%);
}

/* --------------
	Home Style
----------------- */

.main-home {
	height: 89vh;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-around;
}

.main-home img#img-perfil {
	width: 350px;
	height: 350px;
    border-radius: 50%;
}

.presentation {
	color: #fff;
	font-family: 'Nunito', sans-serif;
	
}

.presentation h1 {
	font-size: 7vw;
}

.presentation p {
	max-width: 50vw;
	font-size: 1.2vw;
	text-align: justify;
}

.presentation button {
	background-color: #3A1240;
	border-radius: 20px;
	border-style: none;
	padding: 5px 10px;
	margin-top: 5px;
	cursor: pointer;
}

.presentation button a {
	color: #fff;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
}

.presentation button:hover {
	background-color: #4c1955;
}

@media (max-width: 1000px) {
	.main-home {
		flex-direction: column;
		height: 89vh;
	}

	.main-home img#img-perfil {
		max-width: 250px;
		max-height: 250px;
	}

	.presentation p {	
		font-size: 1.6vw;
	}
}

@media (max-width: 580px) {
	.presentation h1 {
		font-size: 10vw;
	}
	
	.presentation p {	
		font-size: 1.8vw;
	}
}

/* --------------
	Generic Style
----------------- */

.main-about, 
.main-education,
.main-experience {
	min-height: 89vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Nunito', sans-serif;
	color: #fff;
}

.main-about h1, 
.main-education h1,
.main-experience h1 {
	margin: 40px;
	margin-bottom: 30px;
	font-size: 48px;
	letter-spacing: 2px;
}

.main-about .separator, 
.main-education .separator,
.main-experience .separator {
	width: 150px;
	height: 2px;
	background-color: #3A1240;
	margin-bottom: 10px;
}

.on {
	background-color: #3A1240;
}

.on:hover {
	background-color: #4c1955;
}

.container {
	max-width: 60vw;
	display: flex;
	text-align: justify;
	align-items: center;
	margin: 20px;
}

.right {
	flex-direction: row-reverse;
}

.container i {
	color: #3A1240;
	font-size: 56px;
	margin: 15px;
	margin-left: 0px;
}

.right i {
	margin-left: 15px;
	margin-right: 0px;
}

.container h5 {
	color: #3A1240;
	font-weight: 900;
}
.right h5 {
	text-align: right;
}

@media (max-width: 1000px) {
	.main-about h1,
	.main-education h1,
	.main-experience h1 {
		font-size: 48px;
	}

	.main-about .separator, 
	.main-formation .separator,
	.main-experience .separator {
		width: 150px;
	}

	.on {
		background-color: #404040;
	}

	.on:hover {
		background-color: #404040;
	}

	.container {
		max-width: 70vw;
	}
}

@media (max-width: 580px) {
	.container {
		max-width: 80vw;
		flex-direction: column;
	}

	.container h5 {
		text-align: center;
	}
}

/* --------------
	About Style
----------------- */

.main-about p {
	max-width: 80vw;
	text-align: justify;
	margin: 20px;
}


/* --------------
	Education Style
----------------- */