@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(81,93,83);
	background: linear-gradient(90deg, rgba(81,93,83,1) 0%, rgba(176,115,96,1) 35%, rgba(193,195,207,1) 100%);
}

/* --------------
	Home Style
----------------- */

.main-home {
	height: 89vh;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-around;
}

.main-home img#img-perfil {
	width: 350px;
	height: 350px;
    border-radius: 50%;
}

.presentation {
	color: #fff;
	font-family: 'Nunito', sans-serif;
	
}

.presentation h1 {
	font-size: 7vw;
}

.presentation p {
	max-width: 50vw;
	font-size: 1.2vw;
	text-align: justify;
}

.presentation button {
	background-color: #3A1240;
	border-radius: 20px;
	border-style: none;
	padding: 5px 10px;
	margin-top: 5px;
	cursor: pointer;
}

.presentation button a {
	color: #fff;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
}

.presentation button:hover {
	background-color: #4c1955;
}

@media (max-width: 1000px) {
	.main-home {
		flex-direction: column;
		height: 89vh;
	}

	.main-home img#img-perfil {
		max-width: 250px;
		max-height: 250px;
	}

	.presentation p {	
		font-size: 1.6vw;
	}
}

@media (max-width: 580px) {
	.presentation h1 {
		font-size: 10vw;
	}
	
	.presentation p {	
		font-size: 1.8vw;
	}
}

/* --------------
	Generic Style
----------------- */

.main-about, 
.main-education,
.main-experience,
.main-projects,
.main-hobbies,
.main-contact {
	min-height: 89vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Nunito', sans-serif;
	color: #fff;
}

.main-about h1, 
.main-education h1,
.main-experience h1,
.main-projects h1,
.main-hobbies h1,
.main-contact h1 {
	margin: 40px;
	margin-bottom: 30px;
	font-size: 48px;
	letter-spacing: 2px;
}

.main-about .separator, 
.main-education .separator,
.main-experience .separator,
.main-projects .separator,
.main-hobbies .separator,
.main-contact .separator {
	width: 150px;
	height: 2px;
	background-color: #3A1240;
	margin-bottom: 10px;
}

.on {
	background-color: #3A1240;
}

.on:hover {
	background-color: #4c1955;
}

.container {
	max-width: 60vw;
	display: flex;
	text-align: justify;
	align-items: center;
	margin: 20px;
}

.right {
	flex-direction: row-reverse;
}

.container i {
	color: #3A1240;
	font-size: 56px;
	margin: 15px;
	margin-left: 0px;
}

.right i {
	margin-left: 15px;
	margin-right: 0px;
}

.container h5 {
	color: #3A1240;
}

.right h5 {
	text-align: right;
}

@media (max-width: 1000px) {

	.on {
		background-color: #404040;
	}

	.on:hover {
		background-color: #404040;
	}

	.container {
		max-width: 70vw;
	}
}

@media (max-width: 580px) {
	.container {
		max-width: 80vw;
		flex-direction: column;
	}

	.container h5 {
		text-align: center;
	}

	.container i {
		margin-left: 15px;
	}
	
	.right i {
		margin-right: 15px;
	}
}

/* --------------
	About Style
----------------- */

.main-about p {
	max-width: 80vw;
	text-align: justify;
	margin: 20px;
}


/* --------------
	Projects Style
----------------- */

.projects {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.projects div.projects-box{
	margin: 10px;
	max-width: 350px;
	height: 200px;
	flex-basis: 45%;
	border-radius: 3px;
	border-style: solid;
	border-color: #4c1955;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}


.projects-box .box-contents {
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	background-color: #404040;
	opacity: 0.9;
	align-items: center;
	justify-content: center;
}

.projects-box .box-contents p{ 
	width: 80%;
	text-align: center;
	margin-top: 10px;
}

.projects-box .box-contents a {
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 36px;
	text-decoration: none;
	border-radius: 50%;
	background-color: #3A1240;
}

@media (max-width: 1000px) {
	.projects div.projects-box {
		flex-basis: 70%;
	}
}

/* --------------
	Hobbies Style
----------------- */

.main-hobbies img {
	max-width: 350px;
	height: 200px;
	margin-right: 15px;
}


.main-hobbies .container h5 {
	font-size: 24px;
}

#separator-smallscreen {
	display: none;
}

@media (max-width: 1000px) {
	.main-hobbies .container {
		max-width: 80vw;
		flex-direction: column;
	}

	.main-hobbies .container h5 {
		text-align: center;
	}

	#separator-smallscreen {
		display: block;
	}
	
}

/* --------------
	Contact Style
----------------- */
.form {
	background-color: #fff;
	margin: 20px 0 30px 0;
	padding: 10px;
	border-radius: 15px;
	box-shadow: #3A1240 5px 5px 15px;
	max-width: 90vw;
	
}

.main-contact .form form{ 
	color: #3A1240;
}

fieldset {
	border: none;
	margin: 20px 0px;
}

fieldset:nth-child(1) {
	display: flex;
}

.form-container input, select, textarea {
	margin: 10px;
	width: calc(100% - 20px);
	height: 70px;
	border: none;
	background-color: #ededed;
	border-radius: 4px;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	padding: 14px 10px 0 10px;
}

.form-container textarea {
	padding-top: 25px;
	height: unset;
}

.form-container {
	position: relative;
}

.form-container label {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #3A1240;
	position: absolute;
	line-height: 70px;
	top: -10px;
	left: 20px;
	user-select: none;
	pointer-events: none;
	transition: 0.5s;
}


form button {
	margin: 10px 0;
	margin-left: 10px;
	width: calc(50% - 20px);
	height: 70px;
	background-color: #3A1240;
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s linear;
}

form button:hover {
	background-color: #4c1955;
}

/* ---------------------------
	Animation Title and Img
------------------------------ */

.animation-title, .animation-img {
	animation-name: animationTitle;
	animation-duration: 1.5s;
}

@keyframes animationTitle {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* --------------
	Animation-left
----------------- */

.animation-left {
	animation-name: animationLeft;
	animation-duration: 1.5s;
}

@keyframes animationLeft {
	from {
		opacity: 0;
		transform: translate3d(-50px, 0, 0);
	} 
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* --------------
	Animation-right
----------------- */

.animation-right {
	animation-name: animationRight;
	animation-duration: 1.5s;
}

@keyframes animationRight {
	from {
		opacity: 0;
		transform: translate3d(50px, 0, 0);
	} 
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* --------------
	Animation-bottom
----------------- */

.animation-bottom {
	animation-name: animationBottom;
	animation-duration: 1.5s;
}

@keyframes animationBottom {
	from {
		opacity: 0;
		transform: translate3d(0, 50px, 0);
	} 
	to {
		opacity: 0.9;
		transform: translate3d(0, 0, 0);
	}
}

/* --------------
	Animation Cascade
----------------- */

.animation-cascade {
	animation-name: animationCascade;
}

.animation-cascade:nth-child(1) {
	animation-duration: 1.5s;
}

.animation-cascade:nth-child(2) {
	animation-duration: 1.7s;
}

.animation-cascade:nth-child(3) {
	animation-duration: 1.9s;
}

.animation-cascade:nth-child(4) {
	animation-duration: 2.1s;
}

.animation-cascade:nth-child(5) {
	animation-duration: 2.3s;
}

.animation-cascade:nth-child(6) {
	animation-duration: 2.5s;
}
@keyframes animationCascade {
	from {
		opacity: 0;
		transform: translate3d(0, -20px, 0);
	} 
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@media (max-width: 580px) {
	@keyframes animationCascade {
		from {
			opacity: 0;
			transform: translate3d(-50px, 0, 0);
		} 
		to {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
}